---
import Child from "../child/child.astro";
import RegisteredChild from "../registered-child/registered-child.astro";

interface Props {
  title: string;
  description: string;
  text_color: string;
  child: {
    title: string;
    description: string;
    text_color: string;
  };
}

const { title, description, text_color, child } = Astro.props;
---

<section class="bg-blue-200" style=`color: ${text_color};`>
  <h2 data-editable="text" data-prop="title">{title}</h2>
  <p data-editable="text" data-prop="description">{description}</p>

  <h3>Unregistered child here</h3>
  <Child {...child} />

  <h3>Registered child here</h3>
  <editable-component
    data-component="nested/registered-child"
    data-prop="child">
    <RegisteredChild {...child} />
  </editable-component>
</section>
