---
import Button from "@components/shared/Button.astro";
import Heading from "@components/shared/Heading.astro";
import Layout from "@layouts/Layout.astro";
import ErrorImage from "@public/images/404/error.png";
import { Image } from "astro:assets";
---

<Layout title="404 Not Found">
  <section class="grid place-items-center pt-30">
    <Image data-editable="image" data-prop-src="image" data-prop-alt="image_alt" src={ErrorImage} alt="404 error image" width={400} height={300} />
    <Heading level={2} text="Oops! Page not found." data-editable="title" label="title" class="p-4" />
    <Button href="/" data-editable="button" data-prop-href="button" data-prop-text="button" class="m-6" }>Try again</Button>
  </section>
</Layout>
